@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
html {
    background-color: forestgreen;
}

.title {
    font-family: 'Protest Strike', sans-serif;
    color: white;
    background-color: rgb(23, 95, 23);
    margin: 20% 35% 0%;
    border: solid black;
    text-align: center;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: center;
}

.cards img {
    margin: 40px 0px;
    padding: 20px;
    background-color: rgb(23, 95, 23);
    border: solid;
}

.input {
    display: flex;
    justify-content: center;
}

.input .button {
    font-family: 'Protest Strike', sans-serif;
    background-color: rgb(23, 95, 23);
    color: white;
    border-style: solid;
    cursor: pointer;
    padding: 10px 20px;
}