@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
html {
    background-color: forestgreen;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
}

.header {
    font-size: 250%;
    color: white;
    -webkit-text-stroke: 1.2px black;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2%;
    background-color: rgb(23, 95, 23);
    border-bottom: solid black;
}

.cards {
    margin: 12% 0% 2%;
    display: flex;
    justify-content: center;
}

.cards img {
    width: 10%;
    padding: 2%;
    background-color: rgb(23, 95, 23);
    border: solid;
}

.input {
    display: flex;
    justify-content: center;
}

.input .button {
    font-size: 150%;
    background-color: rgb(23, 95, 23);
    color: white;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
    padding: 1% 2%;
}

.output {
    font-size: 150%;
    font-weight: 100;
    margin: 2% 30%;
    color: white;
    padding: 2%;
    background-color: rgb(23, 95, 23);
    display: flex;
    justify-content: center;
    border: solid black;
}
.output p {
    text-align: center;
}